@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.logo {
    width: 200px;
    height: 200px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.container-slider {
    margin-top: -10%;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

/* RESPONSIVIDADE */

@media (max-width: 480px) {
    .logo {
        width: 150px;
        height: 150px;
    }

    .container-slider {
        margin-top: -40%;
    }

    .container-images {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        height: 100px;
    }

    .container-images {
        width: 80%;
    }
}

@media (max-width: 1279px) {
    .container-images {
        width: 70%;
    }
}